<% include parts/head.ejs %>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <img class="logo" src="/assets/img/header_text.png">
        </div>
    </div>
</section>

<% include parts/foot.ejs %>